body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #66BFBF;
}

h2 {
    margin: 25px auto 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
    text-align: justify;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: 0;
    width: 4%;
    margin: 50px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.skill-row {
    width: 80%;
    margin: 50px auto;
    text-align: left;
}

.top-h2 {
    margin: 0;
}

.pro {
    text-decoration: underline;
}

.intro {
    margin: auto;
    text-align: center;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 7.5em;
}

.middle-container {
    margin: 100px auto 50px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 20px 0 5px;
}

.profile-pics {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-image-width: 3em;
    border-color: blue;
}

.svg {
    margin-top: 8rem;
    width: 90%;
}

.skill-image1 {
    width: 25%;
    float: left;
    width: 100px;
    margin-right: 30px;
    border-radius: 50%;
}

.skill-image2 {
    width: 25%;
    float: right;
    width: 100px;
    margin-left: 30px;
    border-radius: 50%;
}

.contact-me {
    margin: 100px auto 50px;
}

.contact-message {
    width: 90%;
    margin: 40px auto;
}

.btn {
    box-shadow: 0px 0px 0px 0px #000000;
    background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
    background-color: #11cdd4;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0rem;
    padding: 0.5rem 1.0rem;
    text-decoration: none;
    text-shadow: none;
}

.btn:hover {
    background: linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
    background-color: #11999e;
}

.btn:active {
    position: relative;
    top: 1px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75em;
    padding: 5px 0 5x;
    margin: 12 auto 12px;
    text-align: center;
}